<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Planificador de Tareas</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="nav-wrapper grey darken-3">
            <div class="container">
                <ul class="left ">
                    <li class="active">@Html.ActionLink("Inicio", "Listar", "Tarea")</li>
                    <li>@Html.ActionLink("Agregar Tarea", "Agregar", "Tarea")</li>
                </ul>
            </div>
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Planificador de Tareas</p>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
